
.container {
  display: flex;
  justify-content: center;
  
}

body {
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: transparent;
  padding: 10px;
  border: 2px black solid;
  border-radius: 30%;
  text-transform: uppercase;
  margin-top: 20px;

}
